apiVersion: v1
kind: Secret
metadata:
  name: radarr-secrets
  namespace: arr
  labels:
    app.kubernetes.io/name: radarr
    app.kubernetes.io/part-of: arr
    app.kubernetes.io/managed-by: kubectl
stringData:
  RADARR__POSTGRES__HOST: postgres.postgres.svc.cluster.local
  RADARR__POSTGRES__PORT: "5432"
  RADARR__POSTGRES__USER: radarr
  RADARR__POSTGRES__PASSWORD: <DB_PASSWORD>
  RADARR__POSTGRES__MAINDB: radarr-main
  RADARR__POSTGRES__LOGDB: radarr-log