apiVersion: v1
kind: Secret
metadata:
  name: isponsorblocktv
  namespace: isponsorblocktv
  labels:
    app.kubernetes.io/name: isponsorblocktv
    app.kubernetes.io/component: content-filter
    app.kubernetes.io/managed-by: kubectl
type: Opaque
stringData:
  config.json: |
    {
      "devices": [
        {
          "screen_id": "<SCREEN_ID>",
          "name": "YouTube on TV"
        }
      ],
      "apikey": "",
      "skip_categories": [],
      "channel_whitelist": [],
      "skip_count_tracking": false,
      "mute_ads": false,
      "skip_ads": true,
      "minimum_skip_length": 10,
      "auto_play": false,
      "join_name": "iSponsorBlockTV",
      "use_proxy": true
    }