apiVersion: v1
kind: Secret
metadata:
  name: youtarr-secrets
  namespace: arr
type: Opaque
stringData:
  DB_HOST: "mariadb.mariadb12.svc.cluster.local"
  DB_PORT: "3306"
  DB_USER: "youtarr"
  DB_PASSWORD: "DB_PASSWORD"
  DB_NAME: "youtarr"
  TZ: "Europe/Stockholm"
  AUTH_ENABLED: "false"
  YOUTUBE_OUTPUT_DIR: "/downloads"