apiVersion: v1
kind: Secret
metadata:
  name: mealie-secrets
  namespace: mealie
  labels:
    app.kubernetes.io/name: mealie
    app.kubernetes.io/component: planning
stringData:
  POSTGRES_PASSWORD: "postgres_password"
  OIDC_CLIENT_ID: "oidc_client_id"
  OIDC_CLIENT_SECRET: "oidc_client_secret"