apiVersion: v1
kind: Secret
metadata:
  name: n8n-secrets
  namespace: n8n
  labels:
    app.kubernetes.io/name: n8n
    app.kubernetes.io/component: workflow-automation
stringData:
  DB_TYPE: postgresdb
  DB_POSTGRESDB_HOST: <DB_HOST>
  DB_POSTGRESDB_PORT: "5432"
  DB_POSTGRESDB_DATABASE: <DB_DATABASE>
  DB_POSTGRESDB_USER: <DB_USER>
  DB_POSTGRESDB_PASSWORD: <DB_PASSWORD>