apiVersion: v1
kind: Secret
metadata:
  name: dbgate-secrets
  namespace: dbgate
  labels:
    app.kubernetes.io/component: configuration
    app.kubernetes.io/managed-by: kubectl
    app.kubernetes.io/name: dbgate
stringData:
  CONNECTIONS: con1,con2

  LABEL_con1: MariaDB 12
  SERVER_con1: <DB_HOST>
  USER_con1: root
  PASSWORD_con1: <ROOT_PASSWORD>
  PORT_con1: "3306"
  ENGINE_con1: mysql@dbgate-plugin-mysql

  LABEL_con2: Postgres
  SERVER_con2: <DB_HOST>
  USER_con2: root
  PASSWORD_con2: <ROOT_PASSWORD>
  PORT_con2: "5432"
  ENGINE_con2: postgres@dbgate-plugin-postgres
