apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-config
  namespace: monitoring
data:
  mimir.yaml: |
    target: all

    multitenancy_enabled: false

    server:
      http_listen_port: 8080
      log_level: info

    activity_tracker:
      filepath: /data/metrics-activity.log

    common:
      storage:
        backend: filesystem
        filesystem:
          dir: /data/mimir

    ingester:
      ring:
        replication_factor: 1
        final_sleep: 0s
        num_tokens: 512
        kvstore:
          store: inmemory

    distributor:
      ring:
        kvstore:
          store: inmemory

    blocks_storage:
      backend: filesystem
      filesystem:
        dir: /data/mimir/blocks
      tsdb:
        dir: /data/mimir/tsdb
      bucket_store:
        sync_dir: /data/mimir/tsdb-sync

    compactor:
      data_dir: /data/mimir/compactor
      compaction_interval: 30m

    limits:
      max_global_series_per_user: 1000000
      ingestion_rate: 100000
      ingestion_burst_size: 200000

    ruler:
      rule_path: /data/mimir/data-ruler

    ruler_storage:
      backend: filesystem
      filesystem:
        dir: /data/mimir/rules
