apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: traefik
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/managed-by: kubectl
data:
  plex.yaml: |
    http:
      routers:
        plex:
          rule: "Host(`flexflix.top`)"
          service: plex
          entrypoints: websecure
        adguard:
          rule: "Host(`adguard.albinmedoc.se`)"
          service: adguard
          entrypoints: websecure
          middlewares:
            - traefik-local-network@kubernetescrd
            - authentik-authentik@kubernetescrd

      services:
        plex:
          loadBalancer:
            servers:
              - url: "http://192.168.86.122:32400"
        adguard:
          loadBalancer:
            servers:
              - url: "http://192.168.86.238"
