apiVersion: v1
kind: Secret
metadata:
  name: traefik-secrets
  namespace: traefik
  labels:
    app.kubernetes.io/component: configuration
    app.kubernetes.io/managed-by: kubectl
    app.kubernetes.io/name: traefik
stringData:
  CF_API_EMAIL: <CLOUDFLARE_EMAIL_ADDRESS>
  CF_DNS_API_TOKEN: <CLOUDFLARE_API_TOKEN>
