apiVersion: v1
kind: Service
metadata:
  name: traefik-nodeport
  namespace: traefik
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/component: networking
    app.kubernetes.io/part-of: traefik
    app.kubernetes.io/managed-by: kubectl
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
  - name: web
    port: 80
    nodePort: 30080
  - name: websecure
    port: 443
    nodePort: 30443
  - name: minecraft
    port: 25565
    nodePort: 25565
  selector:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/component: ingress-controller
---
apiVersion: v1
kind: Service
metadata:
  name: traefik-clusterip
  namespace: traefik
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/component: networking
    app.kubernetes.io/part-of: traefik
    app.kubernetes.io/managed-by: kubectl
spec:
  selector:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/component: ingress-controller
  ports:
    - protocol: TCP
      name: metrics
      port: 8080
      targetPort: 8080