apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: traefik
  labels:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/managed-by: kubectl
data:
  plex.yaml: |
    http:
      routers:
        default-catch-all:
          rule: "HostRegexp(`{host:.+}`)"
          service: noop
          entrypoints: websecure
          priority: 1
        plex:
          rule: "Host(`flexflix.top`)"
          service: plex
          entrypoints: websecure
        truenas:
          rule: "Host(`truenas.albinmedoc.se`)"
          service: truenas
          entrypoints: websecure
          middlewares:
            - traefik-local-network@kubernetescrd
        proxmox:
          rule: "Host(`proxmox.albinmedoc.se`)"
          service: proxmox
          entrypoints: websecure
          middlewares:
            - traefik-local-network@kubernetescrd
        adguard:
          rule: "Host(`adguard.albinmedoc.se`)"
          service: adguard
          entrypoints: websecure
          middlewares:
            - traefik-local-network@kubernetescrd
            - authentik-authentik@kubernetescrd
        immich:
          rule: "Host(`immich.albinmedoc.se`)"
          service: immich
          entrypoints: websecure

      services:
        noop:
          loadBalancer:
            servers:
              - url: "http://127.0.0.1:9999"
        plex:
          loadBalancer:
            servers:
              - url: "http://192.168.86.122:32400"
        truenas:
          loadBalancer:
            servers:
              - url: "http://192.168.86.109"
        proxmox:
          loadBalancer:
            serversTransport: proxmox
            servers:
              - url: "https://192.168.86.106:8006"
        adguard:
          loadBalancer:
            servers:
              - url: "http://192.168.86.238"
        immich:
          loadBalancer:
            servers:
              - url: "http://192.168.86.109:30041"

      serversTransports:
        proxmox:
          insecureSkipVerify: true