apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: grafana
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: monitoring
data:
  GF_SERVER_ROOT_URL: https://grafana.albinmedoc.se

  GF_SMTP_ENABLED: "true"
  GF_SMTP_HOST: mail.inleed.com:465
  GF_SMTP_USER: grafana@albinmedoc.se
  GF_SMTP_FROM_ADDRESS: grafana@albinmedoc.se
  GF_SMTP_FROM_NAME: Grafana

  GF_AUTH_GENERIC_OAUTH_ENABLED: "true"
  GF_AUTH_GENERIC_OAUTH_NAME: Authentik
  GF_AUTH_GENERIC_OAUTH_AUTO_LOGIN: "true"
  GF_AUTH_GENERIC_OAUTH_SCOPES: "openid profile email groups"
  GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups[*], 'Grafana admins') && 'Admin' || contains(groups[*], 'Grafana editors') && 'Editor' || 'Viewer'"
  GF_AUTH_GENERIC_OAUTH_ALLOW_ASSIGN_GRAFANA_ADMIN: "true"
  GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://auth.albinmedoc.se/application/o/authorize/
  GF_AUTH_GENERIC_OAUTH_TOKEN_URL: https://auth.albinmedoc.se/application/o/token/
  GF_AUTH_GENERIC_OAUTH_API_URL: https://auth.albinmedoc.se/application/o/userinfo/
  GF_AUTH_SIGNOUT_REDIRECT_URL: https://auth.albinmedoc.se/application/o/grafana/end-session/

  GF_REMOTE_CACHE_TYPE: redis
  
  GF_PLUGINS_PREINSTALL_SYNC: yesoreyeram-infinity-datasource