apiVersion: v1
kind: Secret
metadata:
  name: grafana-secrets
  namespace: grafana
type: Opaque
stringData:
  GF_AUTH_GENERIC_OAUTH_ENABLED: "true"
  GF_AUTH_GENERIC_OAUTH_NAME: Authentik
  GF_AUTH_GENERIC_OAUTH_AUTO_LOGIN: "true"
  GF_AUTH_GENERIC_OAUTH_SCOPES: "openid profile email"
  GF_AUTH_GENERIC_OAUTH_CLIENT_ID: CLIENT_ID
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: CLIENT_SECRET
  GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://auth.albinmedoc.se/application/o/authorize/
  GF_AUTH_GENERIC_OAUTH_TOKEN_URL: https://auth.albinmedoc.se/application/o/token/
  GF_AUTH_GENERIC_OAUTH_API_URL: https://auth.albinmedoc.se/application/o/userinfo/
  GF_AUTH_SIGNOUT_REDIRECT_URL: https://auth.albinmedoc.se/application/o/grafana/end-session/

  GF_DATABASE_URL: postgres://grafana:password@postgres.postgres.svc.cluster.local:5432/grafana
  GF_REMOTE_CACHE_TYPE: redis
  GF_REMOTE_CACHE_CONNSTR: addr=redis.redis.svc.cluster.local:6379,db=2,password=password