apiVersion: v1
kind: Secret
metadata:
  name: grafana-secrets
  namespace: grafana
type: Opaque
stringData:
  GF_AUTH_GENERIC_OAUTH_CLIENT_ID: CLIENT_ID
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: CLIENT_SECRET
  GF_DATABASE_URL: postgres://grafana:password@postgres.postgres.svc.cluster.local:5432/grafana
  GF_REMOTE_CACHE_CONNSTR: addr=redis.redis.svc.cluster.local:6379,db=2,username=grafana,password=password