apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: grafana
  namespace: grafana
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: prometheus
    prometheus: "true"
spec:
  endpoints:
  - port: metrics
    interval: 30s
  jobLabel: app.kubernetes.io/component
  namespaceSelector:
    matchNames:
    - grafana
  selector:
    matchLabels:
      app.kubernetes.io/name: grafana
