apiVersion: v1
kind: Secret
metadata:
  name: redis-secrets
  namespace: redis
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/component: configuration
    app.kubernetes.io/managed-by: kubectl
stringData:
  REDIS_PASSWORD: <REDIS_PASSWORD>
