apiVersion: v1
kind: ConfigMap
metadata:
  name: blocky-config
  namespace: blocky
  labels:
    app.kubernetes.io/name: blocky
    app.kubernetes.io/component: dns
data:
  config.yml: |
    upstreams:
      groups:
        default:
          - https://one.one.one.one/dns-query
          - https://dns.google/dns-query

    blocking:
      denylists:
        ads:
          - https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
          - https://adguardteam.github.io/HostlistsRegistry/assets/filter_17.txt
          - https://adguardteam.github.io/HostlistsRegistry/assets/filter_24.txt
      clientGroupsBlock:
        default:
          - ads
      loading:
        downloads:
          timeout: 60s
          attempts: 3
        refreshPeriod: 4h

    ports:
      dns: 53
      http: 4000

    log:
      level: info
