apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentik-server
  namespace: authentik
  labels:
    app.kubernetes.io/name: authentik
    app.kubernetes.io/component: authentik-server
    app.kubernetes.io/part-of: authentik
    app.kubernetes.io/managed-by: kubectl
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: authentik
      app.kubernetes.io/component: authentik-server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: authentik
        app.kubernetes.io/component: authentik-server
        app.kubernetes.io/part-of: authentik
        app.kubernetes.io/managed-by: kubectl
    spec:
      initContainers:
        - name: fix-permissions
          image: busybox:latest
          command:
            - sh
            - -c
            - |
              chown -R 1000:1000 /data
              chmod -R 755 /data
          volumeMounts:
            - name: data
              mountPath: /data
      containers:
        - name: authentik-server
          image: ghcr.io/goauthentik/server:2025.10.1
          args:
            - server
          resources:
            limits:
              cpu: 2000m
              memory: 2Gi
            requests:
              cpu: 500m
              memory: 512Mi
          envFrom:
            - secretRef:
                name: authentik-secrets
          ports:
            - containerPort: 9000
          volumeMounts:
            - mountPath: /media
              subPath: media
              name: data
            - mountPath: /templates
              subPath: custom-templates
              name: data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: authentik