apiVersion: v1
kind: Secret
metadata:
  name: authentik-secrets
  namespace: authentik
  labels:
    app.kubernetes.io/name: authentik
    app.kubernetes.io/component: configuration
    app.kubernetes.io/part-of: authentik
    app.kubernetes.io/managed-by: kubectl
stringData:
  AUTHENTIK_SECRET_KEY: <AUTHENTIK_SECRET_KEY>

  AUTHENTIK_POSTGRESQL__HOST: <POSTGRES_HOST>
  AUTHENTIK_POSTGRESQL__NAME: authentik
  AUTHENTIK_POSTGRESQL__USER: <POSTGRES_USER>
  AUTHENTIK_POSTGRESQL__PASSWORD: <POSTGRES_PASSWORD>

  AUTHENTIK_EMAIL__HOST: <EMAIL_HOST>
  AUTHENTIK_EMAIL__PORT: "465"
  AUTHENTIK_EMAIL__USERNAME: <EMAIL_USERNAME>
  AUTHENTIK_EMAIL__PASSWORD: <EMAIL_PASSWORD>
  AUTHENTIK_EMAIL__USE_TLS: "true"
  AUTHENTIK_EMAIL__USE_SSL: "true"
  AUTHENTIK_EMAIL__FROM: <EMAIL_FROM>