apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: homepage
  labels:
    app.kubernetes.io/name: homepage
    app.kubernetes.io/component: dashboard
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    title: Albin's Homepage
    description: Service and link dashboard
    theme: dark
    color: slate
    headerStyle: boxedWidgets
    language: en
    target: _blank
    quicklaunch:
      searchDescriptions: false
      hideInternetSearch: true
      showSearchSuggestions: true
      hideVisitURL: true
      provider: google
    hideVersion: true
    disableUpdateCheck: true
    showStats: true
    statusStyle: "dot"
    disableIndexing: true
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: ""
  services.yaml: |
    - Arr-stack:
        - Plex:
            icon: plex.svg
            href: http://flexflix.top
            description: Media Server
            siteMonitor: http://192.168.86.122:32400
            proxmoxNode: pve
            proxmoxVMID: 200
            widget:
              type: plex
              url: http://192.168.86.122:32400
              key: {{HOMEPAGE_VAR_PLEX_API_KEY}}
        - Sonarr:
            icon: sonarr.svg
            href: http://sonarr.flexflix.top
            description: TV Shows
            siteMonitor: http://sonarr.arr.svc.cluster.local:8989
            widget:
              type: sonarr
              url: http://sonarr.arr.svc.cluster.local:8989
              key: {{HOMEPAGE_VAR_SONARR_API_KEY}}
              enableQueue: true
        - Radarr:
            icon: radarr.svg
            href: http://radarr.flexflix.top
            description: Movies
            siteMonitor: http://radarr.arr.svc.cluster.local:7878
            widget:
              type: radarr
              url: http://radarr.arr.svc.cluster.local:7878
              key: {{HOMEPAGE_VAR_RADARR_API_KEY}}
              enableQueue: true
        - Prowlarr:
            icon: prowlarr.svg
            href: http://prowlarr.flexflix.top
            description: Indexers
            siteMonitor: http://prowlarr.arr.svc.cluster.local:9696
            widget:
              type: prowlarr
              url: http://prowlarr.arr.svc.cluster.local:9696
              key: {{HOMEPAGE_VAR_PROWLARR_API_KEY}}
              fields: ["numberOfGrabs", "numberOfQueries"]
        - Bazarr:
            icon: bazarr.svg
            href: http://bazarr.flexflix.top
            description: Subtitles
            siteMonitor: http://bazarr.arr.svc.cluster.local:6767
            widget:
              type: bazarr
              url: http://bazarr.arr.svc.cluster.local:6767
              key: {{HOMEPAGE_VAR_BAZARR_API_KEY}}
        - SABnzbd:
            icon: sabnzbd.svg
            href: http://sabnzbd.flexflix.top
            description: Downloader
            siteMonitor: http://sabnzbd.arr.svc.cluster.local:8080
            widget:
              type: sabnzbd
              url: http://sabnzbd.arr.svc.cluster.local:8080
              key: {{HOMEPAGE_VAR_SABNZBD_API_KEY}}

    - Infrastructure:
        - Proxmox:
            icon: proxmox.svg
            href: http://proxmox.albinmedoc.se
            description: Virtualization
            siteMonitor: https://192.168.86.106:8006
            widget:
              type: proxmox
              url: https://192.168.86.106:8006
              username: {{HOMEPAGE_VAR_PROXMOX_USERNAME}}
              password: {{HOMEPAGE_VAR_PROXMOX_PASSWORD}}
        - TrueNAS:
            icon: truenas.svg
            href: http://truenas.albinmedoc.se
            description: Storage Server
            siteMonitor: http://192.168.86.109
            widget:
              type: truenas
              url: http://192.168.86.109
              key: {{HOMEPAGE_VAR_TRUENAS_API_KEY}}
        - ArgoCD:
            icon: argo-cd.svg
            href: http://argocd.albinmedoc.se
            description: Application deployment
            siteMonitor: http://argocd-server.argocd.svc.cluster.local:80
            widget:
              type: argocd
              url: http://argocd-server.argocd.svc.cluster.local:80
              key: {{HOMEPAGE_VAR_ARGOCD_API_KEY}}
        - Authentik:
            icon: authentik.svg
            href: http://authentik.albinmedoc.se
            description: Authentication Provider
            siteMonitor: http://authentik.authentik.svc.cluster.local:80
            widget:
              type: authentik
              url: http://authentik.authentik.svc.cluster.local:80
              key: {{HOMEPAGE_VAR_AUTHENTIK_API_KEY}}
              version: 2
              fields: ["users"]
        - Portainer:
            icon: portainer.svg
            href: http://portainer.albinmedoc.se
            description: Kubernetes Management
            siteMonitor: http://portainer.portainer-web.svc.cluster.local:9000
            widget:
              type: portainer
              url: http://portainer.portainer-web.svc.cluster.local:9000
              env: 3
              kubernetes: true
              key: {{HOMEPAGE_VAR_PORTAINER_API_KEY}}
        - Traefik:
            icon: traefik.svg
            href: http://traefik.albinmedoc.se
            description: Ingress Controller
            siteMonitor: http://traefik-clusterip.traefik.svc.cluster.local:8080
            widget:
              type: traefik
              url: http://traefik-clusterip.traefik.svc.cluster.local:8080
        - AdGuard Home:
            icon: adguard-home.svg
            href: http://adguard.albinmedoc.se
            description: DNS Filtering
            siteMonitor: http://192.168.86.238
            widget:
              type: adguard
              url: http://192.168.86.238
              username: {{HOMEPAGE_VAR_ADGUARD_USERNAME}}
              password: {{HOMEPAGE_VAR_ADGUARD_PASSWORD}}
    - Application:
        - Paperless-ngx:
            icon: paperless-ngx.svg
            href: http://paperless.albinmedoc.se
            description: Document Management
            siteMonitor: http://paperless-ngx.paperless-ngx.svc.cluster.local:8000
            widget:
              type: paperlessngx
              url: http://paperless-ngx.paperless-ngx.svc.cluster.local:8000
              key: {{HOMEPAGE_VAR_PAPERLESS_API_KEY}}
        - Grafana:
            icon: grafana.svg
            href: http://grafana.albinmedoc.se
            description: Metrics Dashboard
            siteMonitor: http://grafana.grafana.svc.cluster.local:3000
            widget:
              type: grafana
              url: http://grafana.grafana.svc.cluster.local:3000
              username: {{HOMEPAGE_VAR_GRAFANA_USERNAME}}
              password: {{HOMEPAGE_VAR_GRAFANA_PASSWORD}}
              version: 2
        - Immich minnen:
            icon: immich.svg
            href: http://minnen.albinmedoc.se
            description: Photo Management
            siteMonitor: http://immich.immich-minnen.svc.cluster.local:2283
            widget:
              type: immich
              url: http://immich.immich-minnen.svc.cluster.local:2283
              key: {{HOMEPAGE_VAR_IMMICH_MINNEN_API_KEY}}
              version: 2 
        - Immich resor:
            icon: immich.svg
            href: http://resor.albinmedoc.se
            description: Photo Management
            siteMonitor: http://immich.immich-resor.svc.cluster.local:2283
            widget:
              type: immich
              url: http://immich.immich-resor.svc.cluster.local:2283
              key: {{HOMEPAGE_VAR_IMMICH_RESOR_API_KEY}}
              version: 2 
        - DB Gate:
            icon: http://auth.albinmedoc.se/media/public/application-icons/dbgate.png
            href: http://db.albinmedoc.se
            description: Database Client
            siteMonitor: http://dbgate.dbgate.svc.cluster.local:3000
        - N8N:
            icon: n8n.svg
            href: http://n8n.albinmedoc.se
            description: Workflow Automation
            siteMonitor: http://n8n.n8n.svc.cluster.local:5678
  widgets.yaml: |
    - search:
        provider: google
        target: _blank
    - unifi_console:
        url: https://192.168.86.1
        key: {{HOMEPAGE_VAR_UNIFI_API_KEY}}
        site: UniFi
  proxmox.yaml: |
    pve:
      url: https://192.168.86.106:8006
      username: {{HOMEPAGE_VAR_PROXMOX_USERNAME}}
      password: {{HOMEPAGE_VAR_PROXMOX_PASSWORD}}
  docker.yaml: ""