apiVersion: v1
kind: Secret
metadata:
  name: immich-secrets
  namespace: immich
  labels:
    app.kubernetes.io/component: configuration
    app.kubernetes.io/managed-by: kubectl
    app.kubernetes.io/name: immich
stringData:
    IMMICH_PORT: "2283"

    DB_HOSTNAME: <DATABASE_HOST>
    DB_PORT: "5432"
    DB_DATABASE_NAME: <DATABASE_NAME>
    DB_USERNAME: <DATABASE_USER>
    DB_PASSWORD: <DATABASE_PASSWORD>
    DB_STORAGE_TYPE: HDD

    REDIS_DBINDEX: <REDIS_DBINDEX>
    REDIS_HOSTNAME: <REDIS_HOST>
    REDIS_PASSWORD: <REDIS_PASSWORD>
    REDIS_PORT: "6379"

