apiVersion: v1
kind: Secret
metadata:
  name: postgres-secrets
  namespace: immich
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: configuration
    app.kubernetes.io/part-of: immich
stringData:
  POSTGRES_DB: postgres
  # Same user & password for all Immich instances
  POSTGRES_USER: immich
  POSTGRES_PASSWORD: <PASSWORD>
