apiVersion: v1
kind: Secret
metadata:
  name: paperless-ngx-secrets
  namespace: paperless-ngx
  labels:
    app.kubernetes.io/name: paperless-ngx
    app.kubernetes.io/component: file-manager
stringData:
  PAPERLESS_SECRET_KEY: YwD223A3eqEAMBZflkisWXrUIHBSsfdT

  PAPERLESS_DBENGINE: postgresql
  PAPERLESS_DBHOST: <PAPERLESS_DBHOST>
  PAPERLESS_DBPORT: "5432"
  PAPERLESS_DBNAME: paperless
  PAPERLESS_DBUSER: <PAPERLESS_DBUSER>
  PAPERLESS_DBPASS: <PAPERLESS_DBPASS>
  PAPERLESS_REDIS: <PAPERLESS_REDISHOST>
  PAPERLESS_REDIS_PREFIX: paperless
  PAPERLESS_ADMIN_USER: <PAPERLESS_ADMIN_USER>
  PAPERLESS_ADMIN_MAIL: <PAPERLESS_ADMIN_MAIL>
  PAPERLESS_ADMIN_PASSWORD: <PAPERLESS_ADMIN_PASSWORD>
  PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
  PAPERLESS_SOCIALACCOUNT_PROVIDERS: >
      {
        "openid_connect": {
          "APPS": [
            {
              "provider_id": "authentik",
              "name": "Authentik",
              "client_id": "<CLIENT_ID>",
              "secret": "<CLIENT_SECRET>",
              "settings": {
                "server_url": "<SERVER_URL>/.well-known/openid-configuration"
              }
            }
          ],
          "OAUTH_PKCE_ENABLED": "True"
        }
      }