apiVersion: v1
kind: Secret
metadata:
  name: seerr-secrets
  namespace: arr
  labels:
    app.kubernetes.io/name: seerr
    app.kubernetes.io/part-of: arr
stringData:
  DB_TYPE: postgres
  DB_HOST: postgres.postgres.svc.cluster.local
  DB_PORT: "5432"
  DB_USER: seerr
  DB_PASS: <DB_PASSWORD>
  DB_NAME: seerr