apiVersion: v1
kind: Secret
metadata:
  name: redis-rest-secrets
  namespace: redis-rest
  labels:
    app.kubernetes.io/name: redis-rest
    app.kubernetes.io/component: configuration
    app.kubernetes.io/managed-by: kubectl
type: Opaque
stringData:
  SRH_MODE: "env"
  SRH_TOKEN: "API_TOKEN"
  SRH_CONNECTION_STRING: "REDIS_CONNECTION_STRING"
