apiVersion: v1
kind: Secret
metadata:
  name: plex-exporter-secrets
  namespace: monitoring
  labels:
    app.kubernetes.io/name: plex-exporter
type: Opaque
stringData:
  PLEX_ADDR: <PLEX_SERVER_ADDRESS>
  PLEX_TOKEN: <PLEX_TOKEN>
