---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: configarr
  namespace: arr
  labels:
    app.kubernetes.io/name: configarr
    app.kubernetes.io/part-of: arr
    app.kubernetes.io/managed-by: kubectl
spec:
  schedule: "0 * * * *" # Runs every hour
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: configarr
              image: ghcr.io/raydak-labs/configarr:1.18.0
              imagePullPolicy: Always
              tty: true
              volumeMounts:
                - mountPath: /app/repos # Cache repositories
                  name: repos
                  subPath: configarr-repos
                - name: config
                  mountPath: /app/config/config.yml
                  subPath: config.yml
                - name: secret
                  mountPath: /app/config/secrets.yml # Mount secrets
                  subPath: secrets.yml
          volumes:
            - name: repos
              persistentVolumeClaim:
                claimName: configarr
            - name: config
              configMap:
                name: configarr
            - name: secret
              secret:
                secretName: configarr
          restartPolicy: Never