apiVersion: v1
kind: Secret
metadata:
  name: configarr
  namespace: arr
  labels:
    app.kubernetes.io/name: configarr
    app.kubernetes.io/part-of: arr
    app.kubernetes.io/managed-by: kubectl
type: Opaque
stringData:
  secrets.yml: |
    RADARR_API_KEY: <RADARR_API_KEY>
    SONARR_API_KEY: <SONARR_API_KEY>