apiVersion: v1
kind: Secret
metadata:
  name: tailscale-secrets
  namespace: tailscale
type: Opaque
stringData:
  client_id: replace-with-tailscale-oauth-client-id
  client_secret: replace-with-tailscale-oauth-client-secret
