apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: bazarr
  namespace: arr
  labels:
    app.kubernetes.io/name: bazarr
    app.kubernetes.io/part-of: arr
    app.kubernetes.io/managed-by: kubectl
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`bazarr.flexflix.top`)
      kind: Rule
      services:
        - name: bazarr
          port: 6767
      middlewares:
        - name: local-network
          namespace: traefik
        - name: authentik
          namespace: authentik