apiVersion: v1
kind: Secret
metadata:
  name: argocd-git-secrets
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repo-creds
stringData:
  type: git
  url: https://github.com
  githubAppId: <GITHUB_APP_ID>
  githubAppInstallationId: <GITHUB_APP_INSTALLATION_ID>
  githubAppPrivateKey: |
    -----BEGIN RSA PRIVATE KEY-----
    <GITHUB_APP_PRIVATE_KEY>
    -----END RSA PRIVATE KEY-----