apiVersion: v1
kind: Secret
metadata:
  name: sonarr-secrets
  namespace: arr
  labels:
    app.kubernetes.io/name: sonarr
    app.kubernetes.io/part-of: arr
    app.kubernetes.io/managed-by: kubectl
stringData:
  SONARR__POSTGRES__HOST: postgres.postgres.svc.cluster.local
  SONARR__POSTGRES__PORT: "5432"
  SONARR__POSTGRES__USER: sonarr
  SONARR__POSTGRES__PASSWORD: <DB_PASSWORD>
  SONARR__POSTGRES__MAINDB: sonarr-main
  SONARR__POSTGRES__LOGDB: sonarr-log