apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: arr
  labels:
    app.kubernetes.io/name: sonarr
    app.kubernetes.io/part-of: arr
    app.kubernetes.io/managed-by: kubectl
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: sonarr
      app.kubernetes.io/part-of: arr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: sonarr
        app.kubernetes.io/part-of: arr
        app.kubernetes.io/managed-by: kubectl
    spec:
      containers:
        - name: sonarr
          image: linuxserver/sonarr:4.0.16
          ports:
            - containerPort: 8989
          resources:
            limits:
              cpu: 1000m
              memory: 1Gi
            requests:
              cpu: 200m
              memory: 256Mi
          volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /media
              name: media
          envFrom:
            - secretRef:
                name: sonarr-secrets
                optional: true
          env:
            - name: DOCKER_MODS
              value: "linuxserver/mods:radarr-striptracks|ghcr.io/themepark-dev/theme.park:sonarr"
            - name: STRIPTRACKS_ARGS
              value: "--audio :swe+1d:eng+1:org+1:und+1 --subs :swe+1d:eng+1:org+1:und+1 --reorder"
            - name: TP_THEME
              value: "plex"
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: sonarr
        - name: media
          nfs:
            path: /mnt/Datapool2/Media
            server: 192.168.86.109