apiVersion: apps/v1
kind: Deployment
metadata:
  name: wishlist
  namespace: wishlist
  labels:
    app.kubernetes.io/name: wishlist
    app.kubernetes.io/component: wishlist-manager
    app.kubernetes.io/managed-by: kubectl
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: wishlist
      app.kubernetes.io/component: wishlist-manager
  template:
    metadata:
      labels:
        app.kubernetes.io/name: wishlist
        app.kubernetes.io/component: wishlist-manager
        app.kubernetes.io/managed-by: kubectl
    spec:
      containers:
        - name: wishlist
          image: cmintey/wishlist:v0.55.0
          ports:
            - containerPort: 3280
          resources:
            limits:
              cpu: 200m
              memory: 256Mi
            requests:
              cpu: 50m
              memory: 64Mi
          livenessProbe:
            httpGet:
              path: /
              port: 3280
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 3280
            initialDelaySeconds: 10
            periodSeconds: 5
          env:
            - name: ORIGIN
              value: "https://wishlist.albinmedoc.se"
          volumeMounts:
            - mountPath: /usr/src/app/uploads
              subPath: uploads
              name: config
            - mountPath: /usr/src/app/data
              subPath: data
              name: config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: wishlist