apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: pve-exporter
  namespace: prometheus-exporters
  labels:
    prometheus: "true"
    app.kubernetes.io/name: pve-exporter
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: pve-exporter
  endpoints:
  - port: metrics
    path: /pve
    interval: 30s
    scrapeTimeout: 10s
    params:
      module: [default]
      cluster: ['1']
      node: ['1']
    relabelings:
      - sourceLabels: [__address__]
        targetLabel: __param_target
        replacement: 192.168.86.106:8006
      - sourceLabels: [__param_target]
        targetLabel: instance
      - targetLabel: __address__
        replacement: pve-exporter.prometheus-exporters.svc.cluster.local:9221
