apiVersion: apps/v1
kind: Deployment
metadata:
  name: nzbdav
  namespace: arr
  labels:
    app.kubernetes.io/name: nzbdav
    app.kubernetes.io/part-of: arr
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: nzbdav
      app.kubernetes.io/part-of: arr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: nzbdav
        app.kubernetes.io/part-of: arr
    spec:
      containers:
        - name: nzbdav
          image: nzbdav/nzbdav:0.5.4
          ports:
            - containerPort: 3000
          resources:
            limits:
              cpu: 2000m
              memory: 2Gi
            requests:
              cpu: 200m
              memory: 512Mi
          volumeMounts:
            - mountPath: /config
              name: config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: nzbdav