apiVersion: apps/v1
kind: Deployment
metadata:
  name: apc-exporter
  namespace: monitoring
  labels:
    app.kubernetes.io/name: apc-exporter
    app.kubernetes.io/component: exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: apc-exporter
      app.kubernetes.io/component: exporter
  template:
    metadata:
      labels:
        app.kubernetes.io/name: apc-exporter
        app.kubernetes.io/component: exporter
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "5000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: apc-exporter
          image: ghcr.io/viral32111/apc-ups-exporter:1.2.1-alpine
          args:
            - "--nis-address"
            - "192.168.86.106"
            - "--nis-port"
            - "3551"
            - "--metrics-address"
            - "0.0.0.0"
            - "--metrics-port"
            - "5000"
            - "--metrics-path"
            - "/metrics"
            - "--metrics-interval"
            - "15"
          ports:
            - containerPort: 5000
              name: metrics
              protocol: TCP
          resources:
            requests:
              memory: "32Mi"
              cpu: "25m"
            limits:
              memory: "64Mi"
              cpu: "100m"
