apiVersion: v1
kind: Secret
metadata:
  name: photoprism-secrets
  namespace: photoprism-minnen
  labels:
    app.kubernetes.io/name: photoprism
    app.kubernetes.io/instance: minnen
    app.kubernetes.io/component: configuration
    app.kubernetes.io/part-of: photoprism
    app.kubernetes.io/managed-by: kubectl
stringData:
  PHOTOPRISM_DATABASE_SERVER: <DATABASE_SERVER>:3306
  PHOTOPRISM_DATABASE_USER: <DATABASE_USER>
  PHOTOPRISM_DATABASE_NAME: <DATABASE_NAME>
  PHOTOPRISM_DATABASE_PASSWORD: <DATABASE_PASSWORD>