apiVersion: v1
kind: Secret
metadata:
  name: watchlistarr
  namespace: arr
  labels:
    app.kubernetes.io/name: watchlistarr
    app.kubernetes.io/part-of: arr
    app.kubernetes.io/managed-by: kubectl
type: Opaque
stringData:
  config.yaml: |
    ## Watchlistarr Configuration

    interval:
      seconds: 30


    #################################################################
    ## Sonarr Configuration
    #################################################################

    sonarr:
      ## Base URL for Sonarr, including the 'http' and port and any configured urlbase. DEFAULT: "localhost:8989"
      baseUrl: "<SONARR_HOST>"

      ## API key for Sonarr, found in your Sonarr UI -> General settings
      apikey: "<SONARR_API_KEY>"

      ## If qualityProfile is not set, Watchlistarr will grab the first one it finds on Sonarr
      qualityProfile: "WEB-1080p"

      ## Root folder for Sonarr. If not set, will grab the first one it finds on Sonarr
      rootFolder: "/media/Completed/Series"

      ## Boolean flag to bypass tv shows that are on the Sonarr Exclusion List. DEFAULT: false
      bypassIgnored: false

      ## The monitoring option tells Sonarr what episodes to monitor. (e.g. last season only, all, etc.)
      ## All possible values are under 'MonitorTypes' in sonarr.tv/docs/api. DEFAULT: all
      seasonMonitoring: all

      ## The tag to attach to the show when sending to Sonarr
      tags:
        - watchlistarr


    #################################################################
    ## Radarr Configuration
    #################################################################

    radarr:
      ## Base URL for Radarr, including the 'http' and port and any configured urlbase. DEFAULT: "localhost:7878"
      baseUrl: "<RADARR_HOST>"

      ## API key for Radarr, found in your Radarr UI -> General settings
      apikey: "<RADARR_API_KEY>"

      ## If not set, will grab the first one it finds on Radarr
      qualityProfile: "HD Bluray + WEB"

      ## If not set, will grab the first one it finds on Radarr
      rootFolder: "/media/Completed/Movies"

      ## Boolean flag to bypass movies that are on the Radarr Exclusion List
      bypassIgnored: false

      ## The tag to attach to the show when sending to Radarr
      tags:
        - watchlistarr


    #################################################################
    ## Plex Configuration
    #################################################################

    plex:
      ## Multiple tokens can be provided
      token: "<PLEX_TOKEN>"

      ## Don't sync friends watchlists, only your own. DEFAULT: false (e.g. sync everybody's watchlists)
      skipfriendsync: false


    #################################################################
    ## Delete Sync Configuration
    #################################################################

    ## WARNING: This WILL delete your content off Sonarr/Radarr INCLUDING files if
    #delete:
    ## If enabled, movies that are not watchlisted will be deleted from Radarr. DEFAULT: false
    #  movie: false

    ## If enabled, shows that have no more planned seasons and are not watchlisted will be deleted from Sonarr. DEFAULT: false
    #  endedShow: false

    ## If enabled, shows that still have planned seasons and are not watchlisted will be deleted from Sonarr. DEFAULT: false
    #  continuingShow: false

    ## Number of days to wait before deleting content from the arrs (Deleting must be enabled). DEFAULT: 7
    #  interval.days: 7

    ## Choose whether you want to delete the files as well, or only the entry in Sonarr/Radarr. DEFAULT: true
    #  deleteFiles: true