apiVersion: v1
kind: Secret
metadata:
  name: postgres-secrets
  namespace: postgres18
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: configuration
    app.kubernetes.io/managed-by: kubectl
stringData:
  POSTGRES_USER: root
  POSTGRES_PASSWORD: <POSTGRES_ROOT_PASSWORD>
  POSTGRES_DB: "postgres"
