apiVersion: v1
kind: Secret
metadata:
  name: gluetun-secrets
  namespace: gluetun
  labels:
    app.kubernetes.io/name: gluetun
    app.kubernetes.io/component: configuration
    app.kubernetes.io/managed-by: kubectl
type: Opaque
stringData:
  WIREGUARD_PRIVATE_KEY: "<WIREGUARD_PRIVATE_KEY>"
  WIREGUARD_ADDRESSES: "<WIREGUARD_ADDRESS>"
