apiVersion: v1
kind: Secret
metadata:
  name: immich-secrets
  namespace: immich-minnen
  labels:
    app.kubernetes.io/name: immich
    app.kubernetes.io/instance: minnen
stringData:
  DB_HOSTNAME: <DATABASE_HOSTNAME>
  DB_PORT: "5432"
  DB_DATABASE_NAME: <DATABASE_NAME>
  DB_USERNAME: immich
  DB_PASSWORD: <DATABASE_PASSWORD>
  REDIS_DBINDEX: "3"
  REDIS_HOSTNAME: <REDIS_HOSTNAME>
  REDIS_USERNAME: immich
  REDIS_PASSWORD: <REDIS_PASSWORD>
  REDIS_PORT: "6379"
